---
layout: default
---

<div>

  {{ content }}

  {% assign full_base_url = custom_url | default: site.github.url %}
  <center>
    <p>
      <div class="row">

        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

      </div>
    </p>

    <p>
      <div class="row">
        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

      </div>
    </p>

    <p>
      <div class="row">

        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

        <div class="col-sm-4">
          <video width="220" autoplay="autoplay" loop>
            <source src="{{ site.baseurl }}/assets/vidz/gizmo.mp4" type="video/mp4" />
          </video>
        </div>

      </div>
    </p>
  </center>

</div>
