---
layout: default
---

<article class="post">

  <div class="post-content">

    <div class="row">

      <div class="col-sm-4">
        <center><p>VISUAL
          <a href="{{ site.baseurl }}/visual/">
            <img src="{{ site.baseurl }}/assets/img/tc.gif">
          </a>
        </p></center>
      </div>

      <div class="col-sm-4">
        <center><p>THREE DIMENSIONAL
          <a href="{{ site.baseurl }}/3d/">
            <img src="{{ site.baseurl }}/assets/img/tc.gif">
          </a>
        </p></center>
      </div>

      <div class="col-sm-4">
        <center><p>TEXTILE
          <a href="{{ site.baseurl }}/textile/">
            <img src="{{ site.baseurl }}/assets/img/tc.gif">
          </a>
        </p></center>
      </div>

    </div>

    {{ content }}
  </div>

</article>
